.metadata/
docs/

# Gradle
.gradle/
**/build/
**/bin/
**/.apt_generated/
**/.apt_generated_tests/

# Eclipse
**/.settings/
**/.project
**/.classpath
**/.factorypath

# OS
.DS_Store
Thumbs.db

# Data (Database files)
data/
data/**

# Backup and Archive files
*.sql
*.tar.gz
backup.sh

